@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
$font-family: "Karla", sans-serif;

body {
  font-family: $font-family;
  font-size: 18px;
  margin: 0;
  color: #5a5959;
  background-color: white;
}

// Header styles
header {
  display: flex;
  align-items: center;
  min-height: 61.8vh;

  .nav {
    display: flex;
    width: 100%;
    padding-top: 2vh;
    text-align: center;
    justify-content: center;
    box-sizing: initial;
    position: absolute;
    top: 0;

    a {
      color: #5a5959;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      height: 20px;
      margin: 0 15px;
      vertical-align: middle;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover {
      color: #6080e9;
    }
  }

  .marvin {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 40px 0;
    padding: 15px 0;
    text-align: center;
    width: 100%;

    .text-container {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 3rem;
        margin: auto 0;
        width: 100%;
      }

      .job-title {
        font-size: 1.5rem;
        width: 100%;
      }
      .subtitle {
        margin: 1vh 0;
        font-size: 1rem;
      }
    }

    .social {
      text-align: center;
      width: 100%;
    }
  }

  .icon {
    height: 64px;
    margin: 1vh;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  .github {
    border-radius: 32px;
  }
  .instagram,
  .twitter {
    border-radius: 24px;
  }

  .linkedin {
    border-radius: 16px;
  }
}

// Main Styyles

main {
  background-color: #f5f5f5;

  .section {
    text-align: center;
    padding: 2vh;

    h2 {
      font-weight: bold;
      font-size: 1.5em;
    }

    .project {
      display: inline-block;
      height: 400px;
      width: 80%;
      margin: 4vh 0;
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      border-radius: 4px;
      text-align: left;
    }

    // Skills
    .skills-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .lang-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        padding: 10px;
      }

      @media (max-width: 768px) {
        .lang-container {
          width: 100%;
        }
      }
      .icon-ct {
        margin-right: 20px;
      }

      .lang-icon {
        height: 48px;
        width: 48px;
      }

      .skill-title {
        width: 100%;
      }

      .skill-ct {
        align-items: center;
        display: flex;
        width: 100%;
      }
      .skill-txt {
        font-weight: 500;
      }
    }
  }
}
