@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
$font-family: 'Karla', sans-serif;

body {
  font-family: $font-family;
  font-size: 18px;
  margin: 0;
  color: #5a5959;
}

// Header styles
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  min-height: 61.8vh;

  .nav {
    display: flex;
    width: 100%;
    padding-top: 2vh;
    text-align: center;
    justify-content: center;
    box-sizing: initial;
    position: absolute;
    top: 0;
  
    a {
      display: inline-block;
      height: 20px;
      margin: 0 15px;
      vertical-align: middle;
      font-size: 1.1em;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover {
      color: #6080e9
    }

  }

  .marvin {
    padding: 15px 0;
    text-align: center;
    width: 100%;
  
    #name {
      font-size: 3rem;
    }
    
    #job-title {
      font-size: 2rem;
    }
    .subtitle {
      margin: 1vh 0;
      font-size: 1rem;
    }
  .social {
    width: 100%;
    text-align: center;
      }
  }


}



.icon {
  height: 64px;
  margin: 1vh;
}